td, th, table {
    border-collapse: collapse;
    border: 1px solid black;
}

td, th {
    padding: 3px;
    
}

#container {
    display: flex;
    justify-content: center;
}

table tr:nth-child(2n) {
    background: #b5b6b6;
}

table tr:nth-child(2n -1) {
    background: #7e7f7f;
}